nav {
    background: rgb(15, 73, 107);
     position: fixed;
     width: max-content;     
     z-index: 2;
     padding: 0.7rem 1.7rem;
     left: 50%;
     text-align: center;
     transform: translateX(-50%);
     bottom: 2rem;
     display: flex;
     gap: 0.8rem;
     border-radius: 3rem;
     backdrop-filter: blur(15px);
    
}

nav a{
    /* background-color: aqua; */
    background: transparent;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
}
nav a:hover{
    background-color:var(--color-bg);
}

nav a.active{
    background:var(--color-bg);
    color:var(--color-white);
}